* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form {
	background-color: blueviolet;
}

.form button {
	display: block;
	width: 150px;
	margin: 0 auto;
	padding: 15px;
	border-radius: 10px;
	outline: none;
	text-decoration: none;
	border: #fff;
	background-color: salmon;
	cursor: pointer;
	margin-top: 30px;
	transition: 0.15s;
}

textarea {
	display: block;
	width: 600px;
	height: 250px;
	margin: 0 auto;
	padding: 17px 20px;
	color: burlywood;
	background-color: #e5e5e5;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	font-family: arial;
	outline: none;
	transition: 0.15s;
}

@media (max-width: 670px) {
	textarea {
		width: 400px;
		height: 150px;
	}
}

@media (max-width: 470px) {
	textarea {
		width: 250px;
		height: 100px;
	}
}